{
  "extends": [ "wesbos" ],

  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },

  "rules": {
    "no-shadow":"off",
    "react/prop-types": "off",
    "arrow-body-style": "off",
    "no-use-before-define": "off",
    "array-callback-return": "off",
    "default-param-last": "off",
    "react/destructuring-assignment": "off",
    "prettier/prettier": ["warn", {"trailingComma": "none"}]
  }
}